<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebAppGeneric-20210107042804.mdf;Initial Catalog=aspnet-WebAppGeneric-20210107042804;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
  
</connectionStrings>